# Android Studio
.gradle
.idea
build/
captures/
.cxx/
local.properties
google-services.json

# Kotlin
*.kt.js
*.kt.meta.js
*.kjsm

# Keystore
*.jks
*.keystore

# Proguard
proguard/

# Other
*.iml
.DS_Store
